create table poll_other_likes (\n  id uuid primary key default gen_random_uuid(),\n  poll_vote_id uuid references poll_votes(id) on delete cascade,\n  user_id uuid not null,\n  type text check (type in ('like', 'dislike')) not null,\n  created_at timestamp with time zone default now(),\n  unique (poll_vote_id, user_id)\n);
